.container {
    width: 800px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    background-color: olivedrab;
    }

    .container h1{
        width: 100%;
        font-family: 'Metal Mania', cursive;
        font-size: 60px;
        Display: flex;
        margin-left:2em;
        color: crimson;
      }

      .container h2 {
        width: 40%;
        display: flex;
        align-self: center;
        font-family: "Metal Mania", cursive;
        font-size: 1.5em;
        color: crimson;
    }
        
      .container header nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
    
      .container header nav a {
        margin: 0;
        border: 5px solid crimson;
        padding: 5px;
        border-radius: 5px;
        color: black;
        text-decoration: none;
        margin-bottom: 10px;
        margin-right: 1em;
        background: crimson;
      }
     